[Unit]
Description=Updates /etc/hosts using the StevenBlack hosts repository
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/bin/bash -c "docker rmi ghcr.io/stevenblack/hosts; docker run --pull always --rm -v /etc/hosts:/etc/hosts ghcr.io/stevenblack/hosts:latest updateHostsFile.py --auto --replace --extensions fakenews"
